
.section-block.my-projects {
    min-height: 100vh;
    background-color: black;
    padding-top: 50px;
}

.section-block.my-projects h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #e3e3e3;
    padding-bottom: 50px;
    text-transform: uppercase;
    margin-top: 50px;
}


@media screen and(max-width: 400px) {
    .section-block.my-projects h2 {
        font-size: 15px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    min-width: 250px;
    height: 380px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(131, 127, 127, 0.49), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(126, 125, 125, 0.43);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
    background-color: black;
}

.container .card:nth-child(1) .box .content a {
    background: #2196f3;
}

.container .card:nth-child(2) .box .content a {
    background: #e91e63;
}

.container .card:nth-child(3) .box .content a {
    background: #23c186;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card .box:hover {
    transform: translateY(-50px);
}

.container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
}

.container .card .box .content {
    padding: 15px;
    text-align: center;
}

.container .card .box .content h3 {
    font-size: 20px;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

.container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}

.container .card .box .content a {
    font-size: 10px;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}
