@import "bootstrap/dist/css/bootstrap.min.css";

body{background-color: black;}
/*NAVBAR*/
a{color:crimson;text-decoration: none;font-size: 25px; padding: 10px; font-weight: 600;text-transform: uppercase;}
.navbar-toggler{background-color: #dad1d1; }
.navbar-brand img{border-radius: 50%;width:70px;height: 70px; transition: ease-in .2s;}
.navbar-brand img:hover{transform: scale(1.2);}
a:hover{color:#dad1d1}
/*NAVBAR*/

/*HOME*/
.container-fluid-home {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100vh; position: relative; text-align: center; padding: 0 2em;color: #dad1d1;}
.container-fluid-home img{border:solid 1px crimson; border-radius: 50% ; width: 200px;height: 200px;margin-top: 15px;cursor: pointer }
.container-fluid-home .text-1 {font-size: 25px; position : relative; margin: 25px 0 25px 0;}
.container-fluid-home .text-2 {position : relative; font-size: 40px; font-weight: 600; margin-left:-3px; }
.container-fluid-home .text-3 {font-size: 20px; position : relative;margin-bottom: 20px; margin-top:25px;}
.container-fluid-home .text-4 {position : relative;  font-size: 40px; color: rgba(129, 120, 120, 0); font-weight: 600; margin-left:-3px; -webkit-text-stroke: 0.1vw rgba(66, 84, 84, 0); margin-bottom: 40px}
.container-fluid-home .text-4::before {content: attr(data-text); position:absolute; top:0 ; left:0; width:0 ; height:100%; color: crimson; -webkit-text-stroke: 0 rgba(15, 30, 30, 0.36);  overflow: hidden; animation:animate 4s linear infinite; white-space: nowrap;}
@keyframes animate {
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
/* CV download*/
.art-link{color: aqua; font-size: 15px; box-shadow: rgba(25, 190, 164, 0.5) 0 5px 15px;font-weight: bold; padding: 10px}

@media screen and (max-width: 600px){
    .container-fluid-home h1 { font-size: 25px; margin-top: 15px;}
    .container-fluid-home .text-1 {font-size: 20px;}
    .container-fluid-home .text-2 { font-size: 30px;}
    .container-fluid-home .text-3 {font-size: 20px;}
    .container-fluid-home .text-4 {  font-size: 30px;}
    .art-link {font-size: 10px;}
    .container-fluid-home img {width: 100px;height: 100px;}

}
@media screen and (max-width:463px){
    .container-fluid-home .text-4 {  font-size: 18px;}
    .container-fluid-home .text-2 { font-size: 20px;}


}
@media screen and (max-width:991px){
    a{color: #dad1d1; font-size: 15px; padding: 15px;font-weight: bold;}
}

/*HOME*/


/*About me*/
.box-shadow-full {padding: 14px; }
.lead {font-size: 20px;}
.box-shadow-full {padding-top: 4rem; padding-bottom: 4rem; background-color: rgba(73, 72, 72, 0.24);}
.about-img img {margin:14px 50px 30px 0; outline: 3px solid rgba(220, 20, 60, 0.85);box-shadow: 0 0 8px 2px rgba(220, 20, 60, 0.87);}
.about-mf{color:#dad1d1;}
.skill-mf span {color: #818080; font-weight: 600; font-size: 20px;}
.skill-mf .progress {background-color: rgba(220, 20, 60, 0.308);margin: 12px 0;height: .9rem;border-bottom-right-radius: 30px;border-top-right-radius: 30px;}
.skill-mf .progress .progress-bar {height: 100%;background-color: crimson;border-bottom-right-radius: 30px;border-top-right-radius: 30px;}
.title-s , .title-left {font-size:25px; font-weight: 500;text-transform: uppercase;}




@media screen and (max-width:576px){
    .about-mf .about-img img{margin-right:0;}
}
/*About me*/

/*CONTACT*/
.contact{color: #868484;}
.contact h1{color:#dad1d1; font-weight:600; margin-bottom: 25px;font-size: 20px;}
.social-icons {padding: 12px 22px;right: 0;bottom: 10px;}
.social-icons a {text-decoration: none;width: 40px;height: 40px;margin: 10px 0;text-align: center;border: 1px solid crimson;border-radius: 50%;line-height: 35px;display: inline-flex;align-items: center;justify-content: center;transition: .4s ease-in-out;cursor: pointer;}
.social-icons a i {color:crimson;font-size: 25px;}
.social-icons a:hover {transform: translateY(-10%);background-color: crimson;}
.social-icons a:hover i {color: black;}
.fa-2x {margin-bottom: 8px;}


@media screen and (max-width:310px){
    .social-icons a {width: 25px; height: 25px; border: none; margin:0;}
    .social-icons a i{font-size: 20px;}
}
